@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24;
}

.input {
  @apply w-full px-4 py-3 rounded-xl bg-white/5 border border-white/10 
  text-white placeholder-gray-400 focus:outline-none 
  focus:border-yellow-400 focus:ring-1 focus:ring-yellow-400 transition;
}